/lab13/nbproject/private/
/lab13/build/
/hw10/nbproject/private/
/p1119a/nbproject/private/
/p1119a/build/
/hw11/nbproject/private/
/hw11/build/
/lab14/nbproject/private/
/lab14/build/
/lab15/nbproject/private/
/lab15/build/
/hw12/nbproject/private/
/hw12/build/
/lab16/nbproject/private/
/lab16/build/